<%= form_tag sessions_path do %>
  <label for="email">Email:</label>
  <%=text_field_tag :email%>
  <br></br>
  <label for="password">Password: </label>
  <%=text_field_tag :password%>
  <%= submit_tag "Login" %>
<% end %>
