<%books.each do |book|%>
  <h3><%=link_to book.title, book_path(book)%></h3>
  <%book.users.uniq.each do |user|%>
    <%= "Author: " if user.username%> <%=link_to user.username, user_path(user) if user.username%>
  <%end%>
  <br>
  <%= "Summary: " + book.summary if book.summary%>
<%end%>
