<%@books.each do |book|%>
  <h3><%=link_to book.title, book_path(book)%></h3>
  <%book.users.uniq.each do |user|%>
    <%= user.username if user.username != nil || ""%>
  <%end%>
  <%=book.summary%>
<%end%>
